.navbar{
  margin-bottom: 0;
  .black{
    color: black;
  }
}


.showcase{
  background: url(../img/dpbg.jpg) no-repeat 0 -100px;
  background-size: cover;
  height: 600px;
  padding: 30px 0;

  h1{
    font-size: 60px;
  }

  .container{
    background: #fff;
    opacity: 0.8;
    padding: 20px 30px 30px 30px;
  }
}

.section-a{
  padding: 30px 0;
  text-align: center;
  background: $main-color;
  color: set-text-color($main-color) !important;

  .fas{
    font-size: $icon-size;
  }
}

.title-bar{
  background: url(../img/dpbg.jpg) no-repeat 0 -300px;
  background-size: cover;
  color: #fff;
  border-bottom: 4px solid $main-color;

  h1{
    margin-top: 0;
  }
}

.main{
  margin-top:30px;

  img{
    width: 600px;
    hight: 800px;
  }

}

.panel-heading h4{
  color: set-text-color($main-color) !important;

}

.img-container{
.col-md-8{
  background: url(../img/dpbg.jpg) no-repeat;
  background-size: cover;
  height: 1024px;
}

}

.a-img-container{
.col-md-8{
  background: url(../img/a_dpbg.jpg) no-repeat;
  background-size: cover;
  height: 1024px;
}

}

.f-img-container{
.col-md-8{
  background: url(../img/f_dpbg.jpg) no-repeat;
  background-size: cover;
  height: 1024px;
}

}

.log{
  .col-md-3{
    .divider{
      width: 50px;
      display: inline-block;
      }
    }
  }
.search_bar{
  margin-top: 15px;
  margin-bottom: 15px;
  float: right;
  form{
    input{
      width: 400px;
    }
  }
}

.space{
  margin-top: 15px;
}

.space-2{
  margin-bottom: 15px;
}
.space-3{
  height: 500px;
}

.space-4{
  height: 50px;
}

.box{
  width: 50%;
  margin: auto;
  border:1px solid black;
  padding: 10px;
}
footer{
  padding: 140px 30px 30px 30px;
  background: darken($main-color, 10%);
  color: set-text-color($main-color) !important;
  hight: 100%;
}
